# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties

# Gradle wrapper jar (downloaded binary)
gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
nbproject/
*.nbdisco

# Signing keys & binaries
HMCL/HMCL.keystore
HMCL/HMCLauncher.exe

# OS
.DS_Store
Thumbs.db
